.logo{
display: block;
margin: auto;
height: 150px;
width: 150px;
}
body{
    height: 100vh;
    background-image: linear-gradient(#02162F,#3C649F);
}
.container{
    background-color: #02162F;
   max-width: 955px; 
   margin: auto;
   height: 60vh;
  border: 2px solid black; 
border-radius: 20px;
padding: 25px;
overflow-y: auto;  /* When messasges will be more scroll bar will appear */
margin-bottom: 23px;


}
.message{
  width: fit-content;
  margin: 10px auto;
  background-color: #444; 
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
}

.message.center {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
  background-color: #444; 
  padding: 8px 16px;
  border-radius: 20px;
  color: white;
  font-style: italic;
}


.right{
float: right;
clear: both;
}
.left{
    float: left;
clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 91%;
    border: 2px solid black;
    border-radius: 2px;
    height: 34px;
    font-size: 20px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
